html, body, .root {
  height: 100%;
}

body, .app {
  background: white;
}

.app-header {
  background-color: green;
  text-align: center;
}

.app-header h1 {
  margin: 0;
  padding: 1rem;
  color: white;
  font-weight: 400;
}
