.book-wrapper {
  padding: 0.5rem 1rem;
}

.book {
  max-width: 10rem;
  text-align: left;
}

.book-cover {
  height: 12rem;
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.8rem;
}

.book-cover img {
  max-height: 12rem;
  max-width: 10rem;
}

.book-author {
  color: darkgrey;
  font-size: 0.8rem;
}

.book-title {
  font-size: 0.8rem;
}
